@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the MSR App</h1>
        <p class="lead">The focus of the application is to add to a collective space our MSRs.</p>
        <hr class="my-4">
        <p>But as you see, you will be able to see on this application, all currently maintained applications, current developers, and current business analysts</p>
    </div>
</div>
